body{
    background-image: url('/media/myphoto.jpg');
    background-repeat: repeat-y;
    /* background-size: cover; */
    /* background-position: right top; */
    background-attachment: fixed;
   
}